# Virtual Environments
venv/
env/
ENV/

# Python Cache & Byte-Compiled Files
__pycache__/
*.py[cod]
*$py.class

# Database & Storage
*.db
*.sqlite3

# Environment Variables
.env

# IDE & Editor Files
.vscode/
.idea/

# OS Specific Files
.DS_Store
Thumbs.db